$light-colors: ('white', 'gray-light', 'gray-middle');
$dark-colors: ('gray-dark', 'gray-darkest', 'black', 'dark-1', 'dark-2', 'dark-3', 'dark-4', 'dark-5');

.section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center center fixed;
  background-size: cover;

  @each $color in $light-colors {
    &--#{$color} {
      background-color: var(--color-#{$color});
      color: var(--color-gray-darkest);
    }
  }

  @each $color in $dark-colors {
    &--#{$color} {
      background-color: var(--color-#{$color});
      color: var(--color-gray-light);
    }
  }
}
