:root {
    --scale-unit: 1;
    --base-unit: calc(10px * var(--scale-unit));
    --font-size-small: var(--base-unit);
    --font-size-medium: calc(var(--base-unit) * 2);
    --font-size-big: calc(var(--base-unit) * 4);
    --font-size-huge: calc(var(--base-unit) * 8);
    --font-size-paragraph: calc(var(--base-unit) * 2);
    --line-height-small: 2;
    --line-height-medium: 1.5;
    --line-height-big: 1.25;
    --line-height-huge: 1.25;
    --line-height-paragraph: 1.5;
}

@media all and (min-width: 1281px) {
    :root {
        --scale-unit: 1;
    }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
    :root {
        --scale-unit: 1;
    }
}

@media all and (min-width: 0px) and (max-width: 767px) {
    :root {
        --scale-unit: 1;
    }
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/inter-bold.woff2?v=3.15') format('woff2'),
    url('./assets/fonts/inter-bold.woff?v=3.15') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/inter-regular.woff2?v=3.15') format('woff2'),
    url('./assets/fonts/inter-regular.woff?v=3.15') format('woff');
}

.text {
    z-index: 1;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    white-space: pre-line;
    user-select: none;
}

.text::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
}

.text::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
}

.text--small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.text--small::before {
    margin-top: calc((1 - var(--line-height-small)) * 0.5em);
}

.text--small::after {
    margin-bottom: calc((1 - var(--line-height-small)) * 0.5em);
}

.text--medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}

.text--medium::before {
    margin-top: calc((1 - var(--line-height-medium)) * 0.5em);
}

.text--medium::after {
    margin-bottom: calc((1 - var(--line-height-medium)) * 0.5em);
}

.text--big {
    font-weight: 400;
    font-size: var(--font-size-big);
    line-height: var(--line-height-big);
}

.text--big::before {
    margin-top: calc((1 - var(--line-height-big)) * 0.5em);
}

.text--big::after {
    margin-bottom: calc((1 - var(--line-height-big)) * 0.5em);
}

.text--huge {
    font-weight: normal;
    font-size: var(--font-size-huge);
    line-height: var(--line-height-huge);
}

.text--huge::before {
    margin-top: calc((1 - var(--line-height-huge)) * 0.5em);
}

.text--huge::after {
    margin-bottom: calc((1 - var(--line-height-huge)) * 0.5em);
}

.text--paragraph {
    font-size: var(--font-size-paragraph);
    line-height: var(--line-height-paragraph);
    text-transform: none;
    letter-spacing: normal;
    font-weight: 300;
    text-transform: none;
}

.text--paragraph::before {
    margin-top: calc((1 - var(--line-height-paragraph)) * 0.5em);
}

.text--paragraph::after {
    margin-bottom: calc((1 - var(--line-height-paragraph)) * 0.5em);
}

.text--caps {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.text--black {
    color: var(--color-black);
}

.text--gray-darkest {
    color: var(--color-gray-darkest);
}

.text--gray-dark {
    color: var(--color-gray-dark);
}

.text--gray-middle {
    color: var(--color-gray-middle);
}

.text--gray-light {
    color: var(--color-gray-light);
}

.text--white {
    color: var(--color-white);
}

.text--link {
    text-decoration: none;
    color: #007FFF;
}

.text--link:hover {
    opacity: 0.7;
}

.text--dark-1 {
    color: var(--color-dark-1);
}

.text--dark-2 {
    color: var(--color-dark-2);
}

.text--dark-3 {
    color: var(--color-dark-3);
}

.text--dark-4 {
    color: var(--color-dark-4);
}

.text--dark-5 {
    color: var(--color-dark-5);
}

.text--medium-1 {
    color: var(--color-medium-1);
}

.text--medium-2 {
    color: var(--color-medium-2);
}

.text--medium-3 {
    color: var(--color-medium-3);
}

.text--medium-4 {
    color: var(--color-medium-4);
}

.text--medium-5 {
    color: var(--color-medium-5);
}

.text--light-1 {
    color: var(--color-light-1);
}

.text--light-2 {
    color: var(--color-light-2);
}

.text--light-3 {
    color: var(--color-light-3);
}

.text--light-4 {
    color: var(--color-light-4);
}

.text--light-5 {
    color: var(--color-light-5);
}
