.section {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent no-repeat center center fixed;
    background-size: cover;
}

.section--gray-darkest {
    background-color: var(--color-gray-darkest);
    color: var(--color-gray-light);
}

.section--gray-light {
    background-color: var(--color-gray-light);
    color: var(--color-gray-darkest);
}
