:root {
    --scale-unit: 1;
    --base-unit: calc(10px * var(--scale-unit));
    --font-size-small: var(--base-unit);
    --font-size-medium: calc(var(--base-unit) * 2);
    --font-size-big: calc(var(--base-unit) * 4);
    --font-size-huge: calc(var(--base-unit) * 8);
    --line-height-small: 2;
    --line-height-medium: 2;
    --line-height-big: 1.5;
    --line-height-huge: 1.5;
}

@media all and (min-width: 1281px) {
    :root {
        --scale-unit: 1.3;
    }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
    :root {
        --scale-unit: 1.2;
    }
}

@media all and (min-width: 0px) and (max-width: 767px) {
    :root {
        --scale-unit: 1;
    }
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter-Bold.otf');
}

.text {
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: pre-line;
}

.text::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - var(--line-height-medium)) * 0.5em);
}

.text--small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    letter-spacing: 1px;
}

.text--small::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - var(--line-height-small)) * 0.5em);
}

.text--medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    letter-spacing: 1px;
}

.text--big {
    font-size: var(--font-size-big);
    line-height: var(--line-height-big);
    letter-spacing: 0;
}

.text--huge {
    font-weight: normal;
    font-size: var(--font-size-huge);
    line-height: var(--line-height-huge);
    letter-spacing: 0;
}

.text--black {
    color: var(--color-black);
}

.text--gray-darkest {
    color: var(--color-gray-darkest);
}

.text--gray-dark {
    color: var(--color-gray-dark);
}

.text--gray-middle {
    color: var(--color-gray-middle);
}

.text--gray-light {
    color: var(--color-gray-light);
}

.text--white {
    color: var(--color-white);
}
